<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- STYLESHEETS -->
    <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Raleway:500' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/styles/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="./scripts/app.js"></script>

    <title>Project 1</title>

    <script type="text/javascript">
      window.user = {{{ user }}};
    </script>

  </head>

  <body>
    <div class = "container">
      <div id="navBar" class="col-md-12">
        <button type="button" id="showInfo" class="btn btn-primary pull-right"><i class="fa fa-question-circle"></i></button>
        <button type="button" class="btn btn-primary logOut pull-right">Log Out</button>
        <div>
          <h3 id="nameHere"> &nbsp; &nbsp;Welcome, </h3>
        </div>
      </div>

      <div id="temperature" class="col-md-3 panel">
        <h2>Weather</h2>
        <hr>
        <h3>Now planning for:</h3><h4 id="dateText"> in San Francisco, CA. </h4>
        <h3>The weather will be: </h3>
        <h4 id="weatherText"></h4>
        <div id="weatherIcon" class="col-md-4">
        </div>
        <button type="button" id="randomize" class="btn btn-primary btn-lg align-center">Dress Me!</button>
        <hr>
        <h3>Forecast for the week:</h3>
        <div>
          <h4 id="firstTitle"></h4>
          <p id="firstForecast"></p>
        </div>
        <hr>
        <div>
          <h4 id="secondTitle"></h4>
          <p id="secondForecast"></p>
        </div>
        <hr>
        <div>
          <h4 id="thirdTitle"></h4>
          <p id="thirdForecast"></p>
        </div>
        <hr>
        <div>
          <h4 id="fourthTitle"></h4>
          <p id="fourthForecast"></p>
        </div>
        <hr>
        <div>
          <h4 id="fifthTitle"></h4>
          <p id="fifthForecast"></p>
        </div>
      </div>


      <div id="avatar" class="col-md-4 panel">
        <h2>Wear this!</h2>
        <hr>
        <div id="chosenTop"></div>
        <div id="chosenBottom"></div>
        <div id="comment"></div>
      </div>

      <div id="wardrobe" class="col-md-4 panel">
        <h2>Wardrobe</h2>
        <hr>
        <!--Start Handlebars-->
        <div id="wardrobeTarget">
            <h4>Tops</h4>
            <div id="tops">
              <script id = "top-template" type="text/x-handlebars-template">
              <div id="newTop">
                <div class="item" data-item-id=\{{_id}} data-item-description=\"{{description}}" data-item-color=\{{color}} data-item-temp=\{{temp}} data-item-inwind=\{{inWind}} data-item-inrain=\{{inRain}}>
                  <div id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                      <div class="panel-heading" role="tab" id="heading\{{_id}}">
                        <h4 class="panel-title">
                          <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse\{{_id}}" aria-expanded="false" aria-controls="collapse\{{_id}}">
                            \{{description}}
                          </a>
                        </h4>
                      </div>
                      <div id="collapse\{{_id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading\{{_id}}">
                        <div class="form-group">
                          <label class="control-label" for="editDescription">New description:</label>
                          <div>
                            <input id="editDescription\{{_id}}" name="editDescription" type="text" class="form-control input-md" value="\{{description}}" required="required">
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="control-label" for="editColor">Item color:</label>
                          <select class="form-control colorPick" id="editColor\{{_id}}" value="\{{color}}">
                            <option class="Red">Red</option>
                            <option class="Orange">Orange</option>
                            <option class="Yellow">Yellow</option>
                            <option class="Green">Green</option>
                            <option class="Blue">Blue</option>
                            <option class="Purple">Purple</option>
                            <option class="White">White</option>
                            <option class="Grey">Grey</option>
                            <option class="Black">Black</option>
                          </select>
                        </div>
                        <div class="form-group">
                          <label class="control-label" for="editTemp">Temperature:</label>
                          <select class="form-control" id="editTemp\{{_id}}" value=\{{temp}}>
                            <option class="Hot">Hot</option>
                            <option class="Mild">Mild</option>
                            <option class="Cold">Cold</option>
                          </select>
                        </div>
                        <div class="checkbox">
                          <label class="control-label" for="editInWind">
                            <input id="editInWind\{{_id}}" name="editInWind" type="checkbox" class="form-control inwind" value=\{{inWind}}>
                            Wearable in wind?
                          </label>
                        </div>
                        <div class="checkbox">
                          <label class="control-label" for="editInRain">
                            <input id="editInRain\{{_id}}" name="editInRain" type="checkbox" class="form-control inrain" value=\{{inRain}}>
                            Wearable in rain?
                          </label>
                        </div>
                        <div class="text-right">
                          <button type="button" class="btn btn-primary editButton" data-item-id="\{{_id}}" data-cat="Top"><i class="fa fa-pencil"></i></button>
                          <button type="button" class="btn btn-danger deleteButton" data-item-id="\{{_id}}"><i class="fa fa-ban"></i></button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </script>
            </div>
            <hr>
            <h4>Bottoms</h4>
            <div id="bottoms">
              <script id = "bottom-template" type="text/x-handlebars-template">
                <div id="newBottom">
                  <div class="item" data-item-id=\{{_id}} data-item-description=\"{{description}}" data-item-color=\{{color}} data-item-temp=\{{temp}} data-item-inwind=\{{inWind}} data-item-inrain=\{{inRain}}>
                    <div id="accordion" role="tablist" aria-multiselectable="true">
                      <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="heading\{{_id}}">
                          <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse\{{_id}}" aria-expanded="false" aria-controls="collapse\{{_id}}">
                              \{{description}}
                            </a>
                          </h4>
                        </div>
                        <div id="collapse\{{_id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading\{{_id}}">
                          <div class="form-group">
                            <label class="control-label" for="editDescription">New description:</label>
                            <div>
                              <input id="editDescription\{{_id}}" name="editDescription" type="text" class="form-control input-md" value="\{{description}}" required="required">
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="control-label" for="editColor">Item color:</label>
                            <select class="form-control colorPick" id="editColor\{{_id}}" value="\{{color}}">
                              <option class="Red">Red</option>
                              <option class="Orange">Orange</option>
                              <option class="Yellow">Yellow</option>
                              <option class="Green">Green</option>
                              <option class="Blue">Blue</option>
                              <option class="Purple">Purple</option>
                              <option class="White">White</option>
                              <option class="Grey">Grey</option>
                              <option class="Black">Black</option>
                            </select>
                          </div>
                          <div class="form-group">
                            <label class="control-label" for="editTemp">Temperature:</label>
                            <select class="form-control" id="editTemp\{{_id}}" value=\{{temp}}>
                              <option class="Hot">Hot</option>
                              <option class="Mild">Mild</option>
                              <option class="Cold">Cold</option>
                            </select>
                          </div>
                          <div class="checkbox">
                            <label class="control-label" for="editInWind">
                              <input id="editInWind\{{_id}}" name="editInWind" type="checkbox" class="form-control inwind" value=\{{inWind}}>
                              Wearable in wind?
                            </label>
                          </div>
                          <div class="checkbox">
                            <label class="control-label" for="editInRain">
                              <input id="editInRain\{{_id}}" name="editInRain" type="checkbox" class="form-control inrain" value=\{{inRain}}>
                              Wearable in rain?
                            </label>
                          </div>
                          <div class="text-right">
                            <button type="button" class="btn btn-primary editButton" data-item-id="\{{_id}}" data-cat="Bottom"><i class="fa fa-pencil"></i></button>
                            <button type="button" class="btn btn-danger deleteButton" data-item-id="\{{_id}}"><i class="fa fa-ban"></i></button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </script>
            </div>
        </div>
        <!--End Handlebars-->
        <button class='btn btn-primary add-item'><i class="fa fa-plus"></i></button>
      </div>

      <!-- begin addModal -->
      <div class="modal fade" tabindex="-1" role="dialog" id="addModal">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">Create New Item</h4>
            </div>
            <div class="modal-body">

              <fieldset class='form-horizontal'>
                <!-- Text input for description-->
                <div class="form-group">
                  <label class="control-label" for="itemDescription">Item Description:</label>
                  <div>
                    <input id="itemDescription" name="itemDescription" type="text" placeholder="" class="form-control input-md" required>
                  </div>
                </div>

                <!-- Drop down input for item category-->
                <div class="form-group">
                  <label class="control-label" for="itemCategory">Item category:</label>
                  <select class="form-control" id="itemCategory" required>
                    <option>Top</option>
                    <option>Bottom</option>
                  </select>
                </div>

                <!-- Drop down input for item color-->
                <div class="form-group">
                  <label class="control-label" for="itemColor">Item color:</label>
                  <select class="form-control" id="itemColor" required>
                    <option>Red</option>
                    <option>Orange</option>
                    <option>Yellow</option>
                    <option>Green</option>
                    <option>Blue</option>
                    <option>Purple</option>
                    <option>White</option>
                    <option>Grey</option>
                    <option>Black</option>
                  </select>
                </div>

                <!-- Drop down input for weather range-->
                <div class="form-group">
                  <label class="control-label" for="itemTemp">Temperature:</label>
                  <select class="form-control" id="itemTemp" required>
                    <option>Hot</option>
                    <option>Mild</option>
                    <option>Cold</option>
                  </select>
                </div>

                <!-- Checkbox for wind-->
                <div class="checkbox">
                  <label class="control-label" for="inWind">
                    <input id="inWind" name="inWind" type="checkbox" class="form-control" required>
                    Wearable in wind?
                  </label>
                </div>

                <!-- Checkbox for rain-->
                <div class="checkbox">
                  <label class="control-label" for="inRain">
                    <input id="inRain" name="inRain" type="checkbox" class="form-control" required>
                    Wearable in rain?
                  </label>
                </div>

              </fieldset>

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-undo"></i></button>
              <button type="button" class="btn btn-primary" id="saveItem"><i class="fa fa-floppy-o"></i></button>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->

      <!-- begin infoModal -->
      <div class="modal fade" tabindex="-1" role="dialog" id="infoModal">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              </br>
              <h3 class="modal-title">About OutLook</h3>
            </div>
            <div class="modal-body">
              <ul>
                <li>After logging in, enter wardrobe items into the panel to the right using the blue + button.</li>
                <li>Once you have listed all of your clothes, click "Dress Me!" </li>
                <li>The application will choose a weather appropriate outfit for you based on projected outdoor temperatures (categorized as cold, mild, or hot), projected rain, and projected wind speeds.</li>
                <li>Careful! If you haven't entered anything that will fit today's conditions, the app will prompt you to keep putting things into your collection.</li>
                <li>You can add to, edit, or delete your wardrobe items at any time using the buttons in the wardrobe panel.</li>
                <li>The page background changes based on the weather, so check back in a few days!</li>
              </ul>
              <hr>
              <p>This application is my first full stack web application, created for the Web Development Immersive course at General Assembly in San Francisco.</p>
              <a href="https://github.com/melicarls"><img src="/images/github.png" id="github"></a>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default pull-left" data-dismiss="modal"><i class="fa fa-arrow-left"></i>    Got it.</button>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->

      <div id="footer" class="col-md-12">
        <img src="/images/wulogo.png" class="logo">
      </div>
    </div>
  </body>
</html>
